body {
    /* Background pattern from Toptal Subtle Patterns */
    background: url("handmadepaper.png");
    text-align: center;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px grey;
    text-decoration: underline;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: auto;
}

div {
    display: flex;
    column-gap: 0.5em;
    row-gap: 0.5em;
    margin: 1em auto;
    justify-content: center;
}

input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}

label.disabled {
    color: #aaa;
}

.grid td {
    border: 2px solid black;
    padding: 0;
}

.region td {
    border: 1px solid grey;
}

.grid input {
    width: 1.6em;
    height: 1.6em;
    font-size: 1.5em;
    border: 0;
    padding: 0;
    text-align: center;
}

.grid input:enabled {
    font-family: cursive;
    color: darkblue;
}

.grid input:disabled {
    color: black;
    font-weight: bold;
}

.grid input::placeholder {
    color: #888;
}

.unhighlighted:enabled {
    background: transparent;
}

.highlighted {
    background: yellow;
}

#shareDiv {
    display: block;
    line-height: 80%;
}

#shareA {
    text-decoration: none;
    font-size: 0.8em;
    letter-spacing: 0.5em;
}

#highlightRadiosDiv {
    column-gap: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::-webkit-calendar-picker-indicator {
    display: none;
}