body {
    font-family: sans-serif;
    width: min-content;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 1rem;
}

section, div, footer {
    align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.8rem 0;
}

div {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 0.3rem;
    margin: 0.5rem auto;
}

.grid {
    border-spacing: 0;
    border: 1px solid black;
    border-radius: 6px;
    margin: auto;
    cursor: url(img/ink-pen.svg) 2 22, text;
}
.grid td, tr {
    padding: 0;
}
.grid tr:first-child td:first-child {
    border-top-left-radius: 5px;
}
.grid tr:first-child td:first-child input {
    border-top-left-radius: 4px;
}
.grid tr:first-child td:last-child {
    border-top-right-radius: 5px;
}
.grid tr:first-child td:last-child input {
    border-top-right-radius: 4px;
}
.grid tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
.grid tr:last-child td:first-child > input {
    border-bottom-left-radius: 4px;
}
.grid tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}
.grid tr:last-child td:last-child input {
    border-bottom-right-radius: 4px;
}
.grid tr:nth-child(3n+1) td {
    border-top: 1px solid black;
}
.grid tr:nth-child(3n+2) td {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.grid tr:nth-child(3n) td {
    border-bottom: 1px solid black;
}
.grid td:nth-child(3n+1) {
    border-left: 1px solid black;
}
.grid td:nth-child(3n+2) {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
.grid td:nth-child(3n+3) {
    border-right: 1px solid black;
}

.grid input {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    border: 0;
    border-radius: 0;
    padding: 0;
    text-align: center;
    transition: background 0.5s;
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"]::-webkit-calendar-picker-indicator {
    display: none;
}
.grid input:enabled {
    background: white;
    color: darkblue;
    cursor: inherit;
}
.grid input.pencil,
.grid input::placeholder {
    color: #666 !important;
    font-size: 0.9rem !important;
}
.grid input:disabled {
    color: white;
    background: #6666ff;
    cursor: not-allowed !important;
}
.grid input:disabled,
.grid input.forbidden:enabled {
    background: #ffffaa;
    cursor: not-allowed !important;
}
.grid input.same-value:enabled {
    background: #ffff33;
    cursor: not-allowed !important;
}
.grid input.forbidden:disabled {
    color: #ffffaa;
    background: #6666ff;
}
.grid input.same-value:disabled,
.tools button.same-value:enabled,
.tools input:enabled:checked+label {
    color: #ffffaa !important;
    background: #00b359 !important;
}
.grid input.one-candidate {
    cursor: help !important;
}

.tools button,
.tools input+label {
    color: white;
    text-shadow: -1px -1px #5b6c9e;
    background: #8ca6f2;
    border: 2px outset #8ca6f2;
    border-radius: 4px;
    font-size: 1.3rem;
    min-width:20px;
    padding: 4px 5px 5px 5px;
    margin:  0px 1px 1px 1px;
    cursor: pointer;
}
.tools img {
    display: block;
    width: 24px;
    height: 24px;
}
.tools input {
    display:none;
}
.tools button:enabled:hover,
.tools input:enabled:hover+label {
    border-width: 1px;
    border-style: outset;
    padding: 5px 5px 5px 6px;
    margin:  1px 1px 1px 2px;
}
.tools input:enabled:checked:hover+label {
    border-width: 3px;
    border-style: inset;
    padding: 4px 2px 2px 5px;
    margin:  1px 1px 1px 2px;
}
.tools input:enabled:checked+label {
    text-shadow: -1px -1px #005f2f;
    border: 2px inset #00b359;
    background: #00b359;
    padding: 4px 4px 4px 5px;
    margin:  1px 1px 0px 2px;
}
.tools button:enabled:active,
.tools input:enabled:active+label {
    border-width: 4px !important;
    border-style: inset !important;
    padding: 4px 0px 0px 5px !important;
    margin:  0px 1px 0px 2px !important;
}
.tools button:disabled,
.tools input:disabled+label {
    text-shadow: -1px -1px #555;
    color: #ccc;
    background: darkgrey;
    border: 1px outset darkgrey;
    padding: 5px 6px 6px 6px;
    margin:  0px 1px 1px 1px;
    cursor: not-allowed;
}
.tools button.warning {
    background: #ff5050;
    border-color: #ff5050;
}

.context-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #EEE;
    color: #333;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0;
    margin: 0;
}
.context-menu li {
    padding: 6px 10px;
    cursor: default;
    list-style-type: none;
    transition: all .3s ease;
    font-size: 1rem;
}
.context-menu li:hover {
    background-color: #DEF;
}
.context-menu li.error {
    color: #888
}
.context-menu li.error:hover {
    background-color: #EEE;
}

a {
    text-decoration: none;
}

.credits {
    font-size: 0.8rem;
    margin: 0;
}
